/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.boxed {
    border: 5px solid blue ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 20px 0px;
}