<div class="container-fluid">
    <h2 class="text-center">Have a quote you would like to share with the rest of us?</h2>
    <hr>
    <form #quoteForm='ngForm'>
        <div class="form-group">
            <h4>Input your quote here:</h4>
            <label for="statement"></label>
            <textarea class="form-control" id="statement" rows="4" [(ngModel)]="newQuote.statement" name="statement"
                #statement="ngModel" required></textarea>
            <div [hidden]="statement.valid || statement.pristine" class="alert alert-danger">
                <p>The actual quote is required</p>
            </div>
        </div>

        <div class="form-group">
            <h4>Who is the author of this masterpiece?</h4>
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
                #author="ngModel">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
            </div>

        </div>

        <button type="submit" class="btn btn-success">Submit Quote</button>
    </form>
</div>